@main("VenitianBot") {
  <script type="text/javascript">
    function addResponse() {
      var button = $("#submitButton");
      var div = $("#inputResponse");
      var input = $("#input");
      var tweet = input.val();
      console.log(tweet);
      console.log(tweet.length);
      if(tweet.length > 120) {
        console.log("size of tweet is too big!");
        button.removeClass("btn-success");
        button.removeClass("btn-default");
        button.addClass("btn-danger");
        div.removeClass("has-success");
        div.addClass("has-error");
      } else {
        console.log("size of tweet is ok!");
        button.removeClass("btn-danger");
        button.removeClass("btn-default");
        button.addClass("btn-success");
        div.removeClass("has-error");
        div.addClass("has-success");
        // TODO: send tweet to application
        $.ajax({
          method: "POST",
          url: "/conf",
          contentType: "text/json",
          data: JSON.stringify({
            "tweet": tweet
          }),
          success: function(data, status) {
          console.log(data);
            $("#tweetAdded").css("visibility", "visible");
            setTimeout(function(){ $("#tweetAdded").hide(); }, 5000);
          },
          error: function(xhr, status, err){
          console.log(xhr.statusCode());
          console.log(status);
          console.log(err);
          }
        });
      }
    }
  </script>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="input-group input-group-lg" id="inputResponse">
        <input type="text" class="form-control" placeholder="Add a new response" id="input">
        <span class="input-group-btn">
          <button id="submitButton" class="btn btn-default" type="button" onclick="addResponse()">Add</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="row" id="tweetAdded">
    <div class="alert alert-success" role="alert">Tweet has been added to the database! :)</div>
  </div>
}