@(tweets: java.util.List[status.SimpleStatus])

@main("VenitianBot") {
    <div class="page-header">
        <h1>VenitianBot in action <small>See received tweets and replies</small></h1>
    </div>

    <div class="col-md-6" id="results">
    @for(sStatus <- tweets) {
        @sStatus.toJson().toString()
    }
    </div>

    <div class="col-md-6" id="replies">
    </div>


    <script type="text/javascript" charset="utf-8">
        var venitian_ws = new WebSocket("@routes.Application.getSocket().webSocketURL()");
        venitian_ws.onmessage = function(msg) {
            var data = $.parseJSON(msg.data);
            console.log("received message from websocket:\n"+ data.user);
            var tweet;
            var list;
            if(data.user == undefined) {
                console.log("Tweet from us");
                tweet = "<div class=\"panel " + data.level + " reply\">" +
                        "<div class=\"panel-body\">" +
                        "<p> Tweet: " + data.content + "</p>" +
                        "<p> Date: " + data.date + "</p>" +
                        "</div>" +
                        "</div>";
                list = $("#replies");
            } else {
                console.log("tweet form someone else");
                tweet = "<div class=\"panel " + data.level + " status\">" +
                        "<div class=\"panel-heading\">" + data.user + "</div>" +
                        "<div class=\"panel-content\">" +
                        "<p> Tweet: " + data.content + "</p>" +
                        "<p> Date: " + data.date + "</p>" +
                        "<p> Rank: " + data.rank + "</p>" +
                        "</div>" +
                        "</div>";

                list = $("#results");
            }
            if(list.children().size() == 15) {
                list.children().last().remove();
            }
            list.prepend(tweet);
        };
    </script>
}